
@model PART1.Pages.donations.GoodsDonViewModel
<header class="heading">
<div class=" navbar-collapse collapse d-sm-inline-flex justify-content-between">

    <ul class="navbar-nav flex-grow-1">
       
        <li class="nav-item">
            <a class="nav-link text-dark heading" asp-area="" asp-page="/GoodsDonIndex">make Goods Donation</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark heading" asp-area="" asp-page="/ChoiceIndex">CHOICE</a>
        </li>

     </ul>
</div>
</header>

<p class="heading">
    <a asp-page="Create">Create New</a>
</p>
<table class="table label">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GoodsDonation[0].DESCRIPTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoodsDonation[0].CATEGORY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoodsDonation[0].Number_of_items)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GoodsDonation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CATEGORY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number_of_items)
            </td>
            
                <td class="label">
                <a asp-page="./Edit" asp-route-id="@item.Date">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Date">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Date">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
